
@font-face { 
    font-family: italics; 
    src: url('https://fonts.googleapis.com/css2?family=Buda:wght@300&display=swap');
}

img {
    max-height: 70px;
    mix-blend-mode: color-burn;
}

.brand-name {
    font-family: italics;
    font-size: 1.5em;
    margin-left: 2px;
}

.brand-name:hover {
    cursor: pointer;
}